
:root {

    /* common font sizes */
    --font-size-125: 1.25rem;

    /* common line heights */
    --font-line-height-140: 140%;
    --font-line-height-150: 150%;
    --font-line-height-160: 160%;
    
    /* common font families*/
    --font-family-header: "Lato";
    --font-family-body: "Merriweather Sans","Open Sans","sans-serif";

    /*font weights*/
    --font-weight-normal: 300;
    --font-weight-semibold-1: 400;
    --font-weight-semibold-2: 600;
    --font-weight-bold: 700;

    /*Display*/
        /*Shared*/
        --font-weight-display: var(--font-weight-semibold-1); 
        
        /*Display 1*/
        --font-family-display1: var(--font-family-header);
        --font-size-display1: 5rem;
        --font-line-height-display1: var(--font-line-height-140);
        --font-letter-spacing-display1: -0.125rem;

        /*Display 2*/
        --font-family-display2: var(--font-family-header);
        --font-size-display2: 4.5rem;
        --font-line-height-display2: 138.9%;
        --font-letter-spacing-display2: -0.0625rem;

        /*Display 3*/
        --font-family-display3: var(--font-family-header);
        --font-size-display3: 4rem;
        --font-line-height-display3: var(--font-line-height-150);

        /*Display 4*/
        --font-family-display4: "Open Sans";
        --font-size-display4: 3.5rem;
        --font-line-height-display4: var(--font-line-height-150);
        --font-letter-spacing-display4: 0.0625rem;

    /*Headline*/
        /*Shared*/
        --font-family-headline: var(--font-family-header);
        --font-weight-headline: var(--font-weight-bold);

        /*h1*/
        --font-size-h1: 2.5rem;
        --font-line-height-h1: var(--font-line-height-160);

        /*h2*/
        --font-size-h2: 2rem;
        --font-line-height-h2: var(--font-line-height-150);

        /*h3*/
        --font-size-h3: 1.75rem;
        --font-line-height-h3: 142.9%;

    /*Title*/
        /*Shared*/
        --font-family-title: var(--font-family-header);
        --font-weight-title: var(--font-weight-semibold-2);

        /*h4*/
        --font-size-h4: 1.5rem;
        --font-line-height-h4: 133.3%;

        /*h5*/
        --font-size-h5: var(--font-size-125);
        --font-line-height-h5: var(--font-line-height-140);

        /*h6*/
        --font-size-h6: 1rem;
        --font-line-height-h6: var(--font-line-height-150);

    /*Body*/
        /*b1*/
        --font-size-body1: 1rem;
        --font-line-height-body1: var(--font-line-height-150);

        /*b1*/
        --font-size-body2: 0.875rem;
        --font-line-height-body2: 157.1%;

        /*b3*/
        --font-size-body3: 0.75rem;
        --font-line-height-body3: 166.7%;

        /*lead*/
        --font-size-lead: var(--font-size-125);
        --font-line-height-lead: var(--font-line-height-160);
        --font-weight-lead: var(--font-weight-normal);

        /*block quote*/
        --font-size-blockquote: var(--font-size-125);
        --font-line-height-blockquote: var(--font-line-height-160);
        --font-weight-blockquote: var(--font-weight-semibold-1);

    /*Fontawesome (icons)*/
        /*h1*/
        --font-size-fa-h1: 2.25rem;
        --font-line-height-fa-h1: 177.8%;

        /*h2*/
        --font-size-fa-h2: var(--font-size-h3);
        --font-line-height-fa-h2: 171.4%;

        /*h3*/
        --font-size-fa-h3: var(--font-size-h4);
        --font-line-height-fa-h3: 166.7%;

        /*h4*/
        --font-size-fa-h4: var(--font-size-h5);
        --font-line-height-fa-h4: var(--font-line-height-160);

        /*h5*/
        --font-size-fa-h5: var(--font-size-h6);
        --font-line-height-fa-h5: 175%;

        /*h6*/
        --font-size-fa-h6: var(--font-size-body2);
        --font-line-height-fa-h6: 171.4%;

        /*body 1*/
        --font-size-fa-body1: var(--font-size-body2);
        --font-line-height-fa-body1: 171.4%;

        /*body 2*/
        --font-size-fa-body2: var(--font-size-body3);
        --font-line-height-fa-body2: 183.3%;

        /*body 3*/
        --font-size-fa-body3: 0.625rem;
        --font-line-height-fa-body3: 200%;
}

%default-font-color {
    color: var(--color-neutral-on-surface);
}

/** set default text styles **/
body {
  @extend %default-font-color;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-150);
  /* next rule prevents "rubberband" nudging of topbar in OSX/Chrome browser */
  overscroll-behavior: none;
}

/* rules for display text*/
%font-display {
    font-weight: var(--font-weight-display);
}
%font-family-header {
    font-family: var(--font-family-header);
}
.display1-txt {
    @extend %font-display;
    @extend %font-family-header;
    font-size: var(--font-size-display1);
    line-height: var(--font-line-height-display1);
    letter-spacing: var(--font-letter-spacing-display1);
    padding-top: var(--size-spacing-between-components-5);
    padding-bottom: var(--size-spacing-within-component-4-5);
}
.display2-txt {
    @extend %font-display;
    @extend %font-family-header;
    font-size: var(--font-size-display2);
    line-height: var(--font-line-height-display2);
    letter-spacing: var(--font-letter-spacing-display2);
    padding-top: var(--size-spacing-between-components-4);
    padding-bottom: var(--size-spacing-within-component-4);

}
.display3-txt {
    @extend %font-display;
    @extend %font-family-header;
    font-size: var(--font-size-display3);
    line-height: var(--font-line-height-display3);
    letter-spacing: var(--font-letter-spacing-display3);
    padding-top: var(--size-spacing-within-component-4-5);
    padding-bottom: var(--size-spacing-within-component-3);
}
.display4-txt {
    @extend %font-display;
    font-family: var(--font-family-display4);
    font-size: var(--font-size-display4);
    line-height: var(--font-line-height-display4);
    letter-spacing: var(--font-letter-spacing-display4);
    padding-top: var(--size-spacing-within-component-4-5);
    padding-bottom: var(--size-spacing-within-component-3);
}

/* rules for headlines (h1,h2,h3) */
%font-headline {
    @extend %default-font-color;
    @extend %font-family-header;
    font-weight: var(--font-weight-headline);
    margin: 0;
}
h1,.h1 {
    @extend %font-headline;
    font-size: var(--font-size-h1);
    line-height: var(--font-line-height-h1);
    padding-top: var(--size-spacing-within-component-4-5);
    padding-bottom: var(--size-spacing-within-component-3);
    .far,.fas {
        font-size: var(--font-size-fa-h1);
        line-height: var(--font-line-height-fa-h1);
    }
}
h2,.h2 {
    @extend %font-headline;
    font-size: var(--font-size-h2);
    line-height: var(--font-line-height-h2);
    padding-top: var(--size-spacing-within-component-4);
    padding-bottom: var(--size-spacing-within-component-2);
    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-h2);
        line-height: var(--font-line-height-fa-h2);
    }
}
h3,.h3 {
    @extend %font-headline;
    font-size: var(--font-size-h3);
    line-height: var(--font-line-height-h3);
    padding-top: var(--size-spacing-within-component-3);
    padding-bottom: var(--size-spacing-within-component-2);
    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-h1);
        line-height: var(--font-line-height-fa-h1);
    }
}

/* rules for titles (h4,h5,h6) */
%font-title {
    @extend %default-font-color;
    @extend %font-family-header;
    font-weight: var(--font-weight-title);
    margin: 0;
}
h4,.h4 {
    @extend %font-title;
    font-size: var(--font-size-h4);
    line-height: var(--font-line-height-h4);
    padding-top: var(--size-spacing-within-component-3);
    padding-bottom: var(--size-spacing-within-component-2);
    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-h4);
        line-height: var(--font-line-height-fa-h4);
    }
}
h5,.h5 {
    @extend %font-title;
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height-h5);
    padding-top: var(--size-spacing-within-component-2);

    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-h5);
        line-height: var(--font-line-height-fa-h5);
    }
}
h6,.h6 {
    @extend %font-title;
    font-size: var(--font-size-h6);
    line-height: var(--font-line-height-h6);
    padding-top: var(--size-spacing-within-component-2);

    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-h6);
        line-height: var(--font-line-height-fa-h6);
    }
}

/* rules for body txt */
%font-body {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-normal);
}

.body1-txt {
    @extend %font-body;
    font-size: var(--font-size-body1);
    line-height: var(--font-line-height-body1);

    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-body1);
        line-height: var(--font-line-height-fa-body1);
    }
}
.body2-txt {
    @extend %font-body;
    font-size: var(--font-size-body2);
    line-height: var(--font-line-height-body2);

    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-body2);
        line-height: var(--font-line-height-fa-body2);
    }
}
.body3-txt {
    @extend %font-body;
    font-size: var(--font-size-body3);
    line-height: var(--font-line-height-body3);

    .far,.fas,.fa-solid,.fa-regular {
        font-size: var(--font-size-fa-body3);
        line-height: var(--font-line-height-fa-body3);
    }
}

.body1-txt.font-weight-semibold,
.body2-txt.font-weight-semibold,
.body3-txt.font-weight-semibold {
    font-weight: var(--font-weight-semibold-1) !important;
}

.body1-txt.font-weight-bold,
.body2-txt.font-weight-bold,
.body3-txt.font-weight-bold {
    font-weight: var(--font-weight-bold) !important;
}

/* rules for special text (lead/blockquote) */
.body-lead-txt {
    @extend %font-body;
    font-size: var(--font-size-lead);
    line-height: var(--line-height-lead);
}

.body-blockquote-txt {
    @extend %font-body;
    font-size: var(--font-size-blockquote);
    font-weight: var(--font-weight-blockquote);
    line-height: var(--font-line-height-blockquote);
}