/* PLUS BUTTONS */

/* CSS to control button styles in PLUS
    interfaces.  Uses colors from components.css */


.pbtn {
    /* override CSS button defaults */
    border: 0;
    padding: 0;
    border-radius: var(--size-border-radius-2);
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
}

/** disabled color same for all btns **/
.pbtn:disabled,
.pbtn.disabled,
.pbtn[disabled] {
    color: color-mix(in srgb, var(--color-neutral-on-surface) 38%, transparent);
    cursor: default;
    /*prevent links from being clickable*/
    pointer-events: none; 
}

/* override CSS button defaults */
.pbtn:focus, .pbtn:active {outline: 0;}
a.pbtn {text-decoration: none; }

/* Sizing/Padding etc (same for all btn types) */

.pbtn-state-screen {
    border-radius: inherit;
}

.pbtn .pbtn-content,
.plus-nav-tab[data-toggle='pill'] .ptab-text {
    display: flex;
    box-sizing: border-box;
    border-radius: inherit;
    padding: var(--size-spacing-within-component-2-5) var(--size-spacing-within-component-3-5);
    min-width: 36px;
    gap: var(--size-spacing-within-component-3-5);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: var(--font-weight-semibold-1);
    text-transform: capitalize;
}

.pbtn-vertical .pbtn-content {
    flex-direction: column;
    gap:0 !important;
}

.pbtn-vertical .pbtn-content i {
    line-height: var(--font-line-height-fa-h2) !important;
    font-size: var(--font-size-fa-h2);
}

.pbtn.large .pbtn-image {
    width: 3rem;
    height: 3rem;
}

.pbtn .pbtn-content i,
.plus-nav-tab[data-toggle='pill'] .ptab-text i {
    line-height: inherit;
}

.pbtn.pbtn-outline .pbtn-content,
.plus-datepicker input {
    /* subtract border width from padding to maintain consistent dimensions */
    padding: calc(var(--size-spacing-within-component-2-5) - 1px) calc(var(--size-spacing-within-component-3-5) - 1px);
}

.pbtn.small .pbtn-content,
.plus-nav-tab.small[data-toggle='pill'] .ptab-text {
    padding: var(--size-spacing-within-component-2) var(--size-spacing-within-component-3);
    gap: var(--size-spacing-within-component-3);
    min-width: 28px;
}

.pbtn.pbtn-outline.small .pbtn-content,
.plus-datepicker.small input {
    /* subtract border width from padding to maintain consistent dimensions */
    padding: calc(var(--size-spacing-within-component-2) - 1px) calc(var(--size-spacing-within-component-3) - 1px);
}

.pbtn.large .pbtn-content,
.plus-nav-tab.large[data-toggle='pill'] .ptab-text {
    padding: var(--size-spacing-within-component-3) var(--size-spacing-within-component-4);
    gap: var(--size-spacing-within-component-4);
    min-width: 44px;
}
.pbtn.pbtn-outline.large .pbtn-content,
.plus-datepicker.large input {
    /* subtract border width from padding to maintain consistent dimensions */
    padding: calc(var(--size-spacing-within-component-3) - 1px) calc(var(--size-spacing-within-component-4) - 1px);
}

.plus-nav-tab[data-toggle='tab'] .ptab-text {
    padding: var(--size-spacing-within-component-3) var(--size-spacing-within-component-4-5);
}

/* Filled Button Colors */

.pbtn-filled:not(:disabled):not(.disabled) .pbtn-state-screen:hover {
    background-color: color-mix(in srgb, var(--color-neutral-surface) var(--state-layer-08), transparent);
}

a.pbtn-filled:not(.disabled):hover,
button.pbtn-filled:not(:disabled):hover {
    box-shadow: var(--elevation-light-1);
}
.pbtn-filled:not(:disabled):not(.disabled) .pbtn-state-screen:active,
.pbtn-filled:not(:disabled):not(.disabled) .pbtn-state-screen.active,
.pbtn-filled:not(:disabled):not(.disabled):focus .pbtn-state-screen {
    background-color: color-mix(in srgb, var(--color-neutral-surface) var(--state-layer-12), transparent);
}

.pbtn.pbtn-filled.pbtn-primary:not(:disabled):not(.disabled) {
    background-color: var(--color-accent-primary);
    color: white;
}

.pbtn.pbtn-filled.pbtn-warning:not(:disabled):not(.disabled) {
    background-color: var(--color-accent-warning);
    color: white;
}

/* Disabled State same for filled/tonal */
.pbtn.pbtn-tonal[disabled],
.pbtn.pbtn-tonal.disabled,
.pbtn.pbtn-filled[disabled],
.pbtn.pbtn-filled.disabled {
    background-color: color-mix(in srgb, var(--color-neutral-on-surface) var(--state-layer-12), transparent);
}

/* Not Filled colors (tonal/outline/text) */

.pbtn.pbtn-not-filled.pbtn-primary:not(:disabled):not(.disabled) {
    color: var(--color-accent-primary);
}

.pbtn.pbtn-not-filled.pbtn-secondary:not(:disabled):not(.disabled) {
    color: var(--color-accent-secondary);
}

.pbtn.pbtn-not-filled.pbtn-success:not(:disabled):not(.disabled) {
    color: var(--color-accent-success);
}

.pbtn.pbtn-not-filled.pbtn-info:not(:disabled):not(.disabled) {
    color: var(--color-accent-info);
}

.pbtn.pbtn-not-filled.pbtn-error:not(:disabled):not(.disabled) {
    color: var(--color-accent-danger);
}

.pbtn.pbtn-not-filled.pbtn-warning:not(:disabled):not(.disabled) {
    color: var(--color-accent-warning);
}

/* Default color same for filled and not-filled */
.pbtn.pbtn-default:not(:disabled):not(.disabled) {
    color: var(--color-neutral-on-surface);
}

/* Tonal Button Classes */

.pbtn-tonal:not(:disabled):not(.disabled) .pbtn-state-screen:hover {
    background-color: color-mix(in srgb, currentColor 8%, transparent);
}

.pbtn-tonal:not(:disabled):not(.disabled) .pbtn-state-screen:active,
.pbtn-tonal:not(:disabled):not(.disabled) .pbtn-state-screen.active,
.pbtn-tonal:not(:disabled):not(.disabled):focus .pbtn-state-screen {
    background-color: color-mix(in srgb, currentColor 12%, transparent);;
}

.pbtn.pbtn-tonal:not(:disabled):not(.disabled) {
    background-color: color-mix(in srgb, currentColor 8%, transparent);
}


/* Text/Outline Button Classes */
.pbtn-text:not(:disabled):not(.disabled) .pbtn-state-screen:hover,
.pbtn-outline:not(:disabled):not(.disabled) .pbtn-state-screen:hover,
.plus-datepicker:not(.disabled):hover input:not(disabled) {
    background-color: color-mix(in srgb, currentColor 8%, transparent);
}
.pbtn-text:not(:disabled):not(.disabled):active .pbtn-state-screen,
.pbtn-text.active:not(:disabled):not(.disabled) .pbtn-state-screen,
.pbtn-text:not(:disabled):not(.disabled):focus .pbtn-state-screen,
.pbtn-outline:not(:disabled):not(.disabled):active .pbtn-state-screen,
.pbtn-outline.active:not(:disabled):not(.disabled) .pbtn-state-screen,
.pbtn-outline:not(:disabled):not(.disabled):focus .pbtn-state-screen,
.plus-datepicker:not(.disabled) input:not(disabled):focus {
    background-color: color-mix(in srgb, currentColor 12%, transparent);
}

/* Outlined Button Classes */
/* same as text buttons, but with a border */

.pbtn.pbtn-outline {
    border: 1px solid currentColor;
}

/* Dropdown selects */
.custom-select:focus {
    box-shadow: none;
}

.custom-select.plus-select {
    width: auto;
    height: auto;
    padding: 0.5rem 1.75rem 0.5rem 1rem;
    border-radius: 0px;
}

/* needed to hide the arrow icon when disabled */
.custom-select.plus-select[disabled] {
    background-image: none; 
}

/* override standard text button "active" behavior for bookmarks */
.bookmark-button.pbtn-text.active:not(:disabled) .pbtn-state-screen:not(:hover) {
    background-color: transparent;
}