.plus-resource-card {
    width: 100%;
    max-width: 388.67px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.06);
    background-color: var(--color-surface-container-lowest);
    
    // Ensure Card.Body doesn't add extra padding
    .plus-card-content {
        padding: 0 !important;
    }
}

.plus-resource-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-card-gap-md);
}

.plus-resource-card-subtitle {
    display: flex;
    align-items: center;
    gap: var(--size-element-gap-sm);
    
    i {
        color: var(--color-primary);
        font-size: 12px;
    }
    
    span {
        color: var(--color-outline);
    }
}

.plus-resource-card-main {
    display: flex;
    gap: var(--size-card-gap-lg);
    align-items: flex-start;
    width: 100%;
}

.plus-resource-card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--size-element-gap-xs);
}

.plus-resource-card-title {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semibold-2);
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height-h5);
    color: var(--color-on-background);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 48px;
}

.plus-resource-card-duration {
    color: var(--color-on-surface);
    margin: 0;
}

.plus-resource-card-status {
    display: flex;
    align-items: center;
    justify-content: center;
    
    i {
        color: var(--color-info);
        font-size: 10px;
    }
}

.plus-resource-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--size-element-gap-sm);
}

